
body {
    position: relative;
    background-image: url(/img/fondo.jpg);
    background-size: cover;
    background-position: center;
}


* {
    box-sizing: border-box;
    color: rgb(18, 0, 110);
}

/* For desktop: */
.container {
    width: 90%;
    margin: 0 auto;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}
/* For desktop: */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .row {
        flex-wrap: wrap;
    }
}

@keyframes show {
	from {
		opacity: 0;
		scale: 25%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}

img {
	view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* For mobile: */
@media only screen and (max-width: 1000px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* For desktop: */
[class*="col-"] {
    padding: 15px;
}

.shadow {
    box-shadow: 0 0 20px rgb(66, 158, 184);
    border-radius: 10px;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    nav li {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    nav ul {
        background-color: rgb(80, 32, 148);
    }
}

nav li a {
    color: rgb(1, 9, 12);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav li:hover {
    background-color:  rgb(25, 143, 189);
    border-radius: 200px;
    padding: 5px;
}

.text-right{
    text-align: right;
}

a {
    text-decoration: none;
}
.text-center {
    text-align: center;
}
.py-3 {
    padding: 16px 0;
}
.px-3 {
    padding: 0 16px;
}
.p-3 {
    padding: 16px;
}

.bg-azul-o {
    background-color: rgb(9, 65, 104);
}
.bg-azul-c {
    background-color: rgb(16, 112, 145);
}
.bg-orange {
    background-color: orange;
}
.text-white {
    color: white;
}
.text-red {
    color: red;
    font-size: 30px;
    background-color: cyan;
}
footer h1 {
    border-bottom-left-radius: 10px;
}
footer h1 {
    border-bottom-right-radius: 10px;
}

h1 {
    margin: 0;
}

#btnmenu {
    font-size: 40px;
    display: none;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    #btnmenu {
        display: inline;
    }
    #menu{
        display: none;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1000px)  {
    #menu{
        display: block;
    }
}

.container, .row, nav li, footer, [class*="col-"] {
    transition: all 0.3s ease;



.etiqueta{
    color: rgb(245, 10, 10);
    font-size: 30px;
    font-weight: bold;
}
.atributo{
    color: rgb(33, 47, 179);
    font-size: 26px;
    font-weight: bold;
}
#enlaces a {
    color:blueviolet;
    text-decoration:line-through;
    font-size: 17px;

}
#listas .custom1 li{
    list-style-type: disc;
}
#listas .custom1 li li{
    list-style-type: square;
}
#listas .custom1 li li li {
    list-style-type: circle;
}
#listas .custom2 li{
    list-style-type: lower-roman;
}
#listas .custom2 li li{
    list-style-type:decimal-leading-zero
}
#listas .custom2 li li li{
    list-style-type:georgian
}

#listas .custom3 li li{
    list-style-image: url("../img/logo.png");
}

.striped tr:nth-child(odd){
    background-color: #791437;
  }
  
.striped tr:nth-child(even){
    background-color:rgb(211, 238, 6);
  }
.horario {
    width: 80%;
    margin: 0 auto;
}
.bd {
    background-color: #e4b416;
}
.imgs{
    float: left;
    width: 33.3%;
    padding: 4px;  
    margin: 0 auto
}
.cb{
    clear: both;
}
.video{
    text-align: center;
    font-size: 30px;
    color: rgb(71, 51, 143);
    font-style: oblique;
}
.galer{
    text-align: center;
    font-size: 30px;
    color: rgb(71, 51, 143);
    font-style: oblique;

}
.vid{
    display: block;
    margin: auto;
}
}
